<div id="welcome">
  <h1>Unsure how to waste time on YouTube?</h1>
  <br>
  <h1>If so, we've got great news!</h1>
  <br>
  <h3>Instead of getting turned down by average looking girls, a generous
  student in WDI3 has spent his weekend solving this issue.</h3>
  <br>
  <h3>This app provides the user with a repository of great clips and the ability to favorite his own!</h3>
  <br>
</div>

<div id="homebuttons">
  <button class="btn btn-large btn-success"><a href='/videos'>Let's See These Clips!</a></button>
  <button class="btn btn-large btn-success"><a href='/new'>I Want to Favorite a Clip!</a></button>
</div>